<section class="certificates">
  <div class="container2">
    <div class="certificates__inner">
      <div class="editable-text-container certificates__text">
        <h3>Сертификаты</h3>
        <p>Международные сертификаты. Продукция соответствует всем нормам и имеет необходимые удостоверения и сертификаты соответствия.</p>
      </div>
      <div class="certificates__slider-wrapper">
        <div class="certificates__slider-btns">
          <button class="certificates__slider-btn js-prev" type="button" title="Назад">
            <svg><use xlink:href="#arr-left"></svg>
          </button>
          <button class="certificates__slider-btn js-next" type="button" title="Вперёд">
            <svg><use xlink:href="#arr-right"></svg>
          </button>
        </div>
        <div class="swiper certificates__slider js-init-slider" data-delay="4000" data-slides="3" data-space="80" data-navs=".certificates__slider-btns">
          <ul class="swiper-wrapper certificates__slider-wrapper">
            {{#each certificates}}
            <li class="swiper-slide certificates__slide" data-feature-anim-scale>
              <div class="certificate">
                <div class="certificate__bg"></div>
                <div class="certificate__image">
                  <img src="{{this.image}}" alt="{{this.name}}">
                </div>
                <h3 class="certificate__name">{{this.name}}</h3>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-gallery">
    <button class="custom-gallery__close" type="button"><span class="icon-close"></span></button>
    <div class="custom-gallery__inner">
      <div class="ghsot"></div>
      <div class="swiper custom-gallery__full-image-slider">
          <ul class="swiper-wrapper custom-gallery__full-image-slider-wrapper">
            {{#each certificates}}
            <li class="swiper-slide custom-gallery__full-image-slide">
              <img src="{{this.image}}" alt="{{this.name}}">
            </li>
            {{/each}}
          </ul>
        </div>

      <div class="swiper custom-gallery__thumbs-slider">
        <ul class="swiper-wrapper custom-gallery__thumbs-slider-wrapper">
          {{#each certificates}}
          <li class="swiper-slide custom-gallery__thumbs-slide">
            <img src="{{this.image}}" alt="{{this.name}}">
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>